body {
    background-color: rgb(168, 168, 168);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 160px;
    height: 160px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    /* align-content: stretch; */
}

.square {
    flex: auto
}

button {
    margin-bottom: 10px;
    border-radius: 6px;
}
